body{
	padding: 10px; 
	margin: 10px;
	font-family: cursive;

}
.h1{
	color: #fa0;
	margin-left: 400px;
}

input{
	background-color: #444;
	color: #000;
}

input:focus{
	background-color: #fa0;
	color: #000;
}

input:hover{
	background-color: #0af;
	color: #000;
}
input:active{
	background-color: #f00
	color: #000;
}