@import 'calc';
@import 'image';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body{
  font-family: Circular, spotify-circular, 'Roboto',  Helvetica, Arial, sans-serif;

}