body{
	height: 100%;
	font-family: arial;
	background-color: purple;
	color: black;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	bottom: 50%;
	text-align: center;
}

body a{
	color: black;
}

.btn{
	background-color: red;
	height: 40px;
	width: 150px;
	font-weight: bold;
	color: #FFF;
	border: 1px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px; /* Chrome e o Safari */
	-moz-border-radius: 5px; /* Firefox */
	-o-border-radius: 5px; /* Opera */
	-ms-border-radius: 5px; /* IE */
}


/* FORMULARIO */
.form{
	margin-top: 5%;
	margin-right: 30%;
	margin-left: 30%;
	text-align: left;
	color: black;
	background-color: white;
	font-size: 28px;
	padding:10px 10px;

}

.form legend{
	text-align: center;
	color: red;
	font-size: 30px;
	font-weight: bold;
}

}
.enviar input:hover{
	background: #ff6d6d;
}

.enviar{
	text-align: center;
}
